<ion-view>
  <ion-nav-title>
    {{$ctrl.currentQuestion}}/{{$ctrl.questions}}
  </ion-nav-title>

  <ion-content class="padding has-header question-container"
             scroll="false"
             ng-repeat="data in $ctrl.data track by $index"
             ng-show="$index == $ctrl.currentQuestion - 1">

  <div class="card question-card">
    <div class="item question item-divider" layout-padding>
      {{data.Question}}
    </div>

    <div class="item item-text-wrap">
      <!--<ion-list>

        <ion-checkbox>{{data.OptA}}</ion-checkbox>
        <ion-checkbox>{{data.OptB}}</ion-checkbox>
        <ion-checkbox>{{data.OptC}}</ion-checkbox>
        <ion-checkbox>{{data.OptD}}</ion-checkbox>
        <ion-checkbox>{{data.OptE}}</ion-checkbox>

      </ion-list>-->

      <md-radio-group ng-model="$ctrl.selectedAnswer" ng-change="$ctrl.selectAnswer(data)">

        <div layout='column' layout-padding layout-align="center start">
          <md-radio-button value="data.OptA" >{{data.OptA}}</md-radio-button>
          <md-radio-button value="data.OptB" > {{data.OptB}} </md-radio-button>
          <md-radio-button value="data.OptC" >{{data.OptC}}</md-radio-button>
          <md-radio-button value="data.OptD" >{{data.OptD}}</md-radio-button>
          <md-radio-button value="data.OptE" >{{data.OptE}}</md-radio-button>
        </div>

      </md-radio-group>

    </div>

    <div class="item item-divider">
      {{data[$ctrl.selectedAnswer.substr($ctrl.selectedAnswer.length - 4)]}}
    </div>
  </div>

    <md-button class="md-button md-raised"
               ng-if="$index != ($ctrl.data.length - 1)"
               ng-click="$ctrl.nextQuestion($index)"
    >
      Next
    </md-button>

    <button class="button md-raised icon-right button-full ion-checkmark-circled button-assertive"
            ng-if="$index == ($ctrl.data.length - 1)"
            ng-click="$ctrl.finishQuestion()">
      Finish
    </button>

</ion-content>
</ion-view>


<!--
<md-button class="md-button md-raised"
             ng-if="$index != ($ctrl.data.length - 1)"
             ng-click="$ctrl.nextQuestion($index)"
  >
    Next
  </md-button>

<button class="button md-raised icon-right ion-chevron-right button-full button-balanced"
        ng-if="$index != ($ctrl.data.length - 1)"
        ng-click="$ctrl.nextQuestion($index)">
   Next
</button>

<button class="button md-raised icon-right button-full ion-checkmark-circled button-assertive"
        ng-if="$index == ($ctrl.data.length - 1)"
        ng-click="$ctrl.finishQuestion()">
  Finish
</button>

<md-button class="md-button md-raised"
           ng-if="$index == ($ctrl.data.length - 1)"
           ng-click="$ctrl.finishQuestion()"
>
  Finish
</md-button>
-->
