<ion-view quiz-progress-indicator total-answered="{{$ctrl.totalAnswered}}"
  view-title="{{$ctrl.currentQuestion + 1}}/{{$ctrl.questions}}">

  <!--quiz-progress-indicator="{'total-answered': {{$ctrl.totalAnswered}} }"-->

  <ion-content class="question-container has-header"
               scroll="false">

    <div class="card question-card"
         ng-repeat="data in $ctrl.data track by $index"
         ng-if="$index == $ctrl.currentQuestion"
         ng-class="{'animate-forward': $index != 0}">
      <div class="item question item-divider padding">
        {{data.Question}}
      </div>

      <div class="item item-text-wrap padding">

        <ion-list>
          <ion-item class="item-icon-right"
                    ng-click="$ctrl.selectAnswer(data, 'A')">

            <div>{{data.OptA | optionFormat}}</div>

            <i ng-show="$ctrl.selectedAnswer == 'A' && !$ctrl.correctAnswer"
               class="icon ion-close-round assertive"></i>

            <i ng-show="$ctrl.selectedAnswer == 'A' && $ctrl.correctAnswer"
               class="icon ion-checkmark-round balanced"></i>

          </ion-item>

          <ion-item class="item-icon-right"
                    ng-click="$ctrl.selectAnswer(data, 'B')">
            <div>{{data.OptB | optionFormat}}</div>

            <i ng-show="$ctrl.selectedAnswer == 'B' && !$ctrl.correctAnswer"
               class="icon ion-close-round assertive"></i>

            <i ng-show="$ctrl.selectedAnswer == 'B' && $ctrl.correctAnswer"
               class="icon ion-checkmark-round balanced"></i>
          </ion-item>

          <ion-item class="item-icon-right"
                    ng-click="$ctrl.selectAnswer(data, 'C')">
            <div>{{data.OptC | optionFormat}}</div>
            <i ng-show="$ctrl.selectedAnswer == 'C' && !$ctrl.correctAnswer"
               class="icon ion-close-round assertive"></i>

            <i ng-show="$ctrl.selectedAnswer == 'C' && $ctrl.correctAnswer"
               class="icon ion-checkmark-round balanced"></i>
          </ion-item>

          <ion-item class="item-icon-right"
                    ng-click="$ctrl.selectAnswer(data, 'D')">
            <div>{{data.OptD | optionFormat}}</div>

            <i ng-show="$ctrl.selectedAnswer == 'D' && !$ctrl.correctAnswer"
               class="icon ion-close-round assertive"></i>

            <i ng-show="$ctrl.selectedAnswer == 'D' && $ctrl.correctAnswer"
               class="icon ion-checkmark-round balanced"></i>
          </ion-item>

          <ion-item class="item-icon-right"
                    ng-click="$ctrl.selectAnswer(data, 'E')">
            <div>{{data.OptE | optionFormat}}</div>

            <i ng-show="$ctrl.selectedAnswer == 'E' && !$ctrl.correctAnswer"
               class="icon ion-close-round assertive"></i>

            <i ng-show="$ctrl.selectedAnswer == 'E' && $ctrl.correctAnswer"
               class="icon ion-checkmark-round balanced"></i>
          </ion-item>

        </ion-list>

      </div>

  </div>

    <div>Total Answered: {{$ctrl.totalAnswered}}</div>

    <ion-footer-bar class="bar-stable" >

      <button class="button button-assertive button-clear"
              ng-show="$ctrl.currentQuestion != 0"
              ng-click="$ctrl.previousQuestion()" >
        <i class="ion-chevron-left" ></i >
        &nbsp;Back
      </button >

      <countdown-timer
                       start-timer="{{$ctrl.startTimer}}"
                       stop-timer="{{$ctrl.stopTimer}}"></countdown-timer>

      <button class="button button-balanced button-clear pull-right"
              ng-show="$ctrl.currentQuestion + 1 < $ctrl.data.length "
              ng-click="$ctrl.nextQuestion()" >
        Next
        &nbsp;<i class="ion-chevron-right" ></i >
      </button >

      <button class="button button-positive button-clear pull-right"
              ng-show="$ctrl.currentQuestion + 1 == $ctrl.data.length"
              ng-click="$ctrl.finish()" >
        Finish
        &nbsp;<i class="ion-chevron-right" ></i >
      </button >
    </ion-footer-bar >

</ion-content>
</ion-view>
