<ion-view>
  <ion-nav-title>
    {{$ctrl.title}}
    <!--<h1 class="white-color height-100 md-headline padding-top-5">{{$ctrl.title}}</h1>-->
  </ion-nav-title>

  <ion-content class="has-header">
    <div layout="column" class="padding height-100">

      <md-button nav-direction="forward"
                 flex="25"
                 class="button md-raised button-block button-positive button-half-way"
                 nav-transition="ios"
                 ui-sref="quick-quiz({questions: 5})">
        Answer 5 questions
      </md-button>

      <md-button nav-direction="forward"
                 flex="25"
                 class="button md-raised button-block button-balanced button-half-way"
                 nav-transition="ios"
                 ui-sref="quick-quiz({questions: 10})">
        Answer 10 questions
      </md-button>

      <md-button nav-direction="forward"
                 flex="25"
                 class="button md-raised button-block button-assertive button-half-way"
                 nav-transition="ios"
                 ui-sref="quick-quiz({questions: 25})">
        Answer 25 questions
      </md-button>

      <md-button nav-direction="forward"
                 flex="25"
                 class="button md-raised button-block button-dark button-half-way"
                 nav-transition="ios"
                 ui-sref="quick-quiz({questions: 50})">
        Answer 50 questions
      </md-button>
    </div>

  </ion-content>

</ion-view>


<!--ui-sref="properties({state: state.value})"-->

