<ion-view view-title="{{$ctrl.title}}">

  <ion-content class="col button-container" scroll="false">

    <button ui-sref="quick-quiz({questions: 5})"
            nav-direction="forward"
            class="button button-positive button-block row-20">
      Answer 5 questions
    </button>

    <button ui-sref="quick-quiz({questions: 50})"
            nav-direction="forward"
            class="button button-balanced button-block">
      Answer 50 questions
    </button>

    <button nav-direction="forward"
            class="button button-assertive button-block">
      <div ng-show="!$ctrl.Authfor500"
           ng-click="$ctrl.unlockNow(500)"
           class="upgrade-button">
        <div class="ribbon-container">
          <div class="ribbon">
            <i class="icon ion-locked"></i>
            <span class="md-caption"><strong>  Unlock Now</strong></span>
          </div>
        </div>
      </div>
      Answer 500 questions
    </button>

    <button nav-direction="forward"
            class="button button-dark button-block">
      <div ng-show="!$ctrl.AuthforAll"
           ng-click="$ctrl.unlockNow('All')"
           class="upgrade-button">
        <div class="ribbon-container">
          <div class="ribbon">
            <i class="icon ion-locked"></i>
            <span class="md-caption"><strong>  Unlock Now</strong></span>
          </div>
        </div>
      </div>
      Answer All questions
    </button>

  </ion-content>

</ion-view>
