<ion-view view-title="{{$ctrl.title}}">

  <ion-content class="col button-container" scroll="false">

      <button ui-sref="quick-quiz({questions: 5})"
              nav-direction="forward"
              class="button button-positive button-block row-20">
        Answer 5 questions
      </button>

      <button ui-sref="quick-quiz({questions: 5})"
              nav-direction="forward"
              class="button button-balanced button-block">
        Answer 10 questions
      </button>

      <button ui-sref="quick-quiz({questions: 5})"
              nav-direction="forward"
              class="button button-assertive button-block">
        Answer 20 questions
      </button>

      <button ui-sref="quick-quiz({questions: 5})"
              nav-direction="forward"
              class="button button-dark button-block">
        Answer 30 questions
      </button>

  </ion-content>

</ion-view>

