<ion-view view-title="CSCP Home">
  <ion-content class="col text-align-center">
    <h1 class="padding-top-20">Welcome to CSCP Exam Simulator.</h1>

    <p class="padding-top-20">
      You are one step closer to becoming a Certified Supply Chain Professional!
    </p>

    <!--<p class="padding-top-20">
      Get started with quick quiz by selecting the button below
    </p>-->

    <button ui-sref="select-options"
            nav-direction="forward"
            class="button button-balanced button-block margin-top-50">
      GO TO QUIZ
    </button>

  </ion-content>
</ion-view>
