.line-height-0
  line-height: 0
.opacity-0
  opacity: 0
.show
  opacity: 1 !important
.padding-left-0
  padding-left: 0px
.padding-top-5
  padding-top: 5px
.padding-top-10
  padding-top: 10px
.padding-top-15
  padding-top: 15px
.padding-top-20
  padding-top: 20px

.margin-top-20
  margin-top: 20px
.margin-top-50
  margin-top: 50px !important

.text-align-center
  text-align: center
.text-align-right
  text-align: right

.color-black-054
  color: rgba(1,1,1,0.54)
.color-black-087
  color: rgba(1,1,1,0.87)

.card-margin-offset
  margin-top: 0
  position: relative
  top: 20px
